@model IEnumerable<WebApiV5.Models.Treniruotes>


@{
    ViewBag.Title = "Index";
}

<h2>Treniruočių sarašas</h2>
@if (User.IsInRole("Admin"))
{
        <p>
            @Html.ActionLink("Kūrti naują", "Create", null, new { @class = "btn btn-outline-info" })
        </p>
}

<table class="table table-hover table-responsive">
    <tr class="table-active">
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeSpaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Joins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FreeSpaces)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Joins)
        @Html.ActionLink("Join", "Join", new { id = item.Id }, new { @class = "btn btn-outline-info" })
        <input type="submit" name="Join" value="Join" id="entry.Id" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TName)
    </td>
    <td>
        @if (User.IsInRole("Admin"))
        {
           
                @Html.ActionLink("Tvarkyti duomenis", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Detaliau", "Details", new { id = item.Id }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Ištrinti", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })

        }
    </td>
</tr>

    }
</table>

@section Scripts {
    <script type="text/javascript">
        function Join() {
            $.ajax({
                url: "Join", success: function () { alert("success"); }
            }); return false;
        }
    </script>
}


